/* for common reset



===============================================================*/

a img{border:none;}

img{
	margin:0px;
	padding:0px;
	border:none;
	vertical-align:bottom;
}



ul,ol{

	margin:0;

	padding:0;


}

ul li{
	list-style-type:none;
}

ol li{
	list-style-type:none;
}


dl,dt,dd{

	margin:0;

	padding:0;


}



h1,h2,h3,h4,h5,h6{

	margin:0;

	padding:0;

	font-size:100%;

	font-weight:normal;

}



p{

	margin:0;

	padding:0;

}



div{

	margin:0px;

	padding:0px;

	border:0px;

}



/*table{

	margin:0;

	padding:0;

}*/


.alphafilter{}




/* for clearFix
===============================================================*/
.clear{
	clear:both;
}

.cf:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
	font-size:0;
}

.cf{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
}

/* Hides from IE-mac */
* html .cf { height: 1%; }
.cf { display: block; }
/* End hide from IE-mac */


